    <div class="transport">
        <h2>Prochains horaires de d&eacute;part pour la station m&eacute;tro {{station.name}} :</h2>
        <ul>
            <li>Plateforme 1, 1er m&eacute;tro <span class="right green">{{station.depart.nextTrain1Platform1}}</span></li>
            <li>Plateforme 1, 2eme m&eacute;tro <span class="right green">{{station.depart.nextTrain2Platform1}}</span></li>
            <li>Plateforme 2, 1er m&eacute;tro <span class="right green">{{station.depart.nextTrain1Platform2}}</span></li>
            <li>Plateforme 2, 2eme m&eacute;tro <span class="right green">{{station.depart.nextTrain2Platform2}}</span></li>
        </ul>
    </div>